{%  extends "layout.html" %}

{% block contents %}
<div class="container">
    <div class="mt-4"></div>
    <div class="mt-4"></div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">Sensors</div>
                <div class="card-body">
                    <p class="card-text">I will add sensor here</p>
                </div>
                <div class="card-footer">
                    <a href="#">more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">Temperature</div>
                <div class="card-body">
                    <p class="card-text">I will add temperature readings here</p>
                </div>
                <div class="card-footer text-right">
                    <a href="#">more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">Humidity</div>
                <div class="card-body">
                    <p class="card-text">I will add Humidity readings here</p>
                </div>
                <div class="card-footer">
                    <a href="#">more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">Proximity</div>
                <div class="card-body">
                    <p class="card-text">I will add sensor proximity readings here</p>
                </div>
                <div class="card-footer text-right">
                    <a href="#">more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">Coordinates</div>
                <div class="card-body">
                    <p class="card-text">I will add X, Y, Z readings here</p>
                </div>
                <div class="card-footer">
                    <a href="#">more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">Sensor Configuration</div>
                <div class="card-body">
                    <p class="card-text">I will add sensor configuration here</p>
                </div>
                <div class="card-footer text-right">
                    <a href="#">more</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}